.book-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
}

.empty-text {
  font-size: 1rem;
  text-align: center;
}


@media (min-width: 490px) {
  .book-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 992px) {
  .book-container {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (min-width: 1400px) {
  .book-container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
}