.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 55%;
  background: var(--clr-background-light);
  margin: auto;
  box-shadow: var(--light-shadow);
  padding: 2rem;
  border-radius: 15px ;
}

@media (min-width: 992px) {
  .profile {
    max-width: 35%;
  }
}

.profile__text {
  font-size: 1rem;
}

.error__text {
  color: #cc1016;
  text-align: center;
}

.success__text {
  color: #5ab332;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 5rem;
}