
.single-book {
  position: relative;
  background: var(--clr-background-light);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding-bottom: 1rem;
  border-radius: 20px 20px 3px 3px ;
}
.single-book:hover {
  box-shadow: var(--dark-shadow);
}

.single-book__content {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .single-book__content {
    height: 7rem;
    margin-top: 1rem;
  }
}

.single-book__image {
  border-radius: 20px 20px 0 0 ;
  overflow: hidden;
  height: 15rem;
}

.single-book__image img {
  width: 100%;
  border-radius: 20px 20px 0 0 ;
  object-fit: cover;
  transition: 0.3s ease;
}

.single-book__image:hover img {
  transform: scale(1.15);
}

@media (min-width: 576px) {
  .single-book__image  {   
    height: 18rem;
  }
}
@media (min-width: 768px) {
  .single-book__image  {   
    height: 25rem;
  }
}

.book-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.book-info h4 {
  margin-bottom: 0;
}

.single-book__btns {
  align-self: flex-end;
}
.single-book__btn {
  display: block;
  font-family: 'Albert Sans', sans-serif;
  position: relative;
  width: 8rem;
  text-align: center;
  background: transparent;
  border: none;
  color: var(--clr-text);
  font-size: 13px;
  cursor: pointer;
  padding: 0.50rem;
  align-self: flex-end;
}


.single-book__btn svg {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%; 
}

.single-book__btn svg rect {
  fill: none;
  stroke: var(--clr-text);
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.single-book__btn:hover {
  font-weight: 600;
}

.single-book__btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.single-book__btn-close{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 94%);
  border-radius: 50%;
  border: 1px solid var(--clr-text);
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}

.single-book__btn-close:hover,
.single-book__btn-close:focus {
    background: hsl(0, 2%, 88%);
  }

.single-book__icon-cross{
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 20px;
  height: 20px;
}

.single-book__icon-cross:before,
.single-book__icon-cross:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  height: 1.5px;
  background: var(--clr-text);
  border-radius: 1px;
}

.single-book__icon-cross:before {
  transform: rotate(45deg);
}

.single-book__icon-cross:after {
  transform: rotate(-45deg);
}

.single-book__btn-close span {
  display: block;
}

.single-book__text {
  text-align: center;
  font-size: 0.8rem;
}

.single-book__link {
  color: var(--clr-text);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
  font-size: 0.8rem;
}
@media (min-width: 420px) {
  .single-book__link {
    font-size: 0.7rem;
  }
  .single-book__text {
    font-size: 0.7rem;
  }
}

@media (min-width: 576px) {
  .single-book__link {
    font-size: 0.8rem;
  }
  .single-book__text {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .single-book__link {
    font-size: 1rem;
  }
  .single-book__text {
    font-size: 1rem;
  }
}



.single-book__link:hover {
  text-decoration: underline;
}

h3 {
  font-size: 0.5rem;
}

