.single-book__btns {
  align-self: flex-end;
}
.single-book__btn {
  display: block;
  font-family: 'Albert Sans', sans-serif;
  position: relative;
  width: 8rem;
  text-align: center;
  background: transparent;
  border: none;
  color: var(--clr-text);
  font-size: 13px;
  cursor: pointer;
  padding: 0.50rem;
  align-self: flex-end;
}


.single-book__btn svg {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%; 
}

.single-book__btn svg rect {
  fill: none;
  stroke: var(--clr-text);
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.single-book__btn:hover {
  font-weight: 600;
}

.single-book__btn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.single-book__btn-close{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  border: 1px solid rgb(121, 120, 120);
  width: 30px;
  height: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}

.single-book__btn-close:hover,
.single-book__btn-close:focus {
    background: hsl(0, 0%, 94%);
  }

.single-book__icon-cross{
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 20px;
  height: 20px;
}

.single-book__icon-cross:before,
.single-book__icon-cross:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  right: 0;
  height: 1.5px;
  background: rgb(121, 120, 120);
  border-radius: 1px;
}

.single-book__icon-cross:before {
  transform: rotate(45deg);
}

.single-book__icon-cross:after {
  transform: rotate(-45deg);
}

.single-book__btn-close span {
  display: block;
}