

:root {
  /* dark shades of primary color*/
  --clr-background-menu: #fff;
  --clr-background-dark: #fff;
  --clr-background-light: #f0f0f0;
  --clr-text: #2c1810;
  --clr-active-link: #7464d9;
  --clr-btn: #978ddb;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 620px;
}



html body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  background-color: var(--clr-background-dark);
  /* background-image: url('./images/noise.png'); */
  color: var(--clr-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: var(--clr-text);
  text-decoration: none;
  
}

.active {
  color: var(--clr-active-link)
}