.about { 
  font-family: 'Kurale', serif;
  font-size: 1.2rem;
  width: 100%;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .about { 
    width: 60%;
    font-family: 'Kurale', serif;
    font-size: 1.2rem;
    margin-top: 3rem;
  }
}